
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
}

@media print {
    #acciones {
        display: none;
    }
    
    
}