.main_content{
	margin-top: 10px;
}
#contact-map{
	width:100%;
	height: 500px;
}
address{
	margin-bottom: 0;
}
.contacto_label label.contacto_label_string{
	color:#fe8400;

}
.contacto_label label.contacto_label_string:first-letter{
	text-transform: uppercase;
}
.boletin_direccion_container{
	background: #EFFFFA;
	padding-bottom: 15px;
	border: 1px solid #F1F1F1;
}